@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-title {
    margin-bottom: 20px;
  }
  
  .registration-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .registration-form label {
    font-weight: bold;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"] {
    margin-bottom: 15px;
  }
  
  .registration-form button[type="submit"] {
    margin-top: 20px;
  }
  